input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin:0;
}
input[type=number]{
    -moz-appearance: textfield;
}


@media screen and (min-width:320px) and (max-width:780px) and (orientation:portrait) {

    #chaves{
        transform: rotate(-90);
        transform-origin: left top;
        width: 200vh;
        overflow-y: hidden;
        position: absolute;
        top:0;
        left:0;
    }
    
    
    
}

@media screen and (min-width:320px) and (max-width:780px) and (orientation:landscape) {

    #chaves{
        
        transform-origin: left top;
        transform: scale(0.5);
        width: 250vw;
        overflow-y: hidden;
        position: relative;
        top:0;
        left:0;
        
    }
 
}
@media screen and (min-width:790px) and (max-width:1200px) and (orientation:portrait) {

    #chaves{
        transform: rotate(-90);
        transform-origin: left top;
        transform: scale(0.5);
        width: 250vh;
        overflow-y: hidden;
        position: absolute;
        top:0;
        left:0;
    }
    
    
    
}
@media screen and (min-width:790px) and (max-width:1200px) and (orientation:landscape) {

    #chaves{
        
        transform-origin: left top;
        transform: scale(0.3);
        width: 300vw;
        overflow-y: hidden;
        position: absolute;
        top:0;
        left:0;
    }
    
    
    
}


    
    
    


