input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin:0;
}
input[type=number]{
    -moz-appearance: textfield;
}

#keyPrimary{
    position: relative;
    top: 42%;
    transform: translateY(-45%); 
    transform: translateX(-100%); 
    margin-left:-22em;
}
@media screen and (min-width:320px) and (max-width:780px) and (orientation:portrait) {

    html{
        transform: rotate(-90);
        transform-origin: left top;
        width: 200vh;
        overflow-y: hidden;
        position: absolute;
        top:0;
        left:0;
    }
    #colLine{
        margin-left: -10em;
    }
    #keyPrimary{
        position: absolute;
        top: 50%;
        transform: translateY(-50%); 
        transform: translateX(-40%); 
        margin-left: -38em;
       
    }
    
    
}
@media screen and (min-width:320px) and (max-width:780px) and (orientation:landscape) {

    html{
       
        transform-origin: left top;
        width: 500vw;
        overflow-y: hidden;
        position: absolute;
        top:0;
        left:0;
    }
    #colLine{
        margin-left: -1em;
    }
    #keyPrimary{
        position: absolute;
        top: 50%;
        transform: translateY(-50%); 
        transform: translateX(-35%); 
        
       
    }
    
    
}

@media screen and (min-width:790px) and (max-width:1280px) and (orientation:portrait) {

    html{
        transform: rotate(-90);
        transform-origin: left top;
        width: 200vh;
        overflow-y: hidden;
        position: absolute;
        top:0;
        left:0;
    }
    #keyPrimary{
        position: absolute;
        top: 48%;
        transform: translateY(-50%); 
        transform: translateX(-10%); 
        
        
       
    }
    #colLine{
        margin-left: -3em;
    }
    
    
}
@media screen and (min-width:790px) and (max-width:1280px) and (orientation:landscape) {

    html{
        transform: rotate(-90);
        transform-origin: left top;
        width: 200vw;
        overflow-y: hidden;
        position: absolute;
        top:0;
        left:0;
    }
    #keyPrimary{
        position: absolute;
        top: 48%;
        transform: translateY(-50%); 
        transform: translateX(-10%); 
        margin-left: -42em;
        
       
    }
    #colLine{
        margin-left: -1em;
    }
    
    
}

